// basic colors
$black: #000;
$white: #fff;
$offwhite: #fefefe;

// layout and elevation
$surface: #F4F5F8;
$belowLevel: #EDEFF6;

// Major colors for app
$primary: #4e89ff;
$secondary: #F8F9FC;

// Log states colors
$success: #39BD7F;
$info: #8ACDFF;
$warning: #F4D07F;
$danger: #e44a69;
$danger2: rgba(243, 45, 85, 0.18823529411764706);

$textgrey: #313b47;
$lightgrey: #919cb7;
$balihai: #8c9fa8;
$echoblue: #b1bad1;
$solitude: #e1e7f5;
$taggrey : #787f8f;
$darkergrey: #1b3451;
$labelgrey : #6f7d85;
$bordergrey: #d6dfe3;

// Tracker Colours

$trackerblue: #51acdb;
$trackerpurple: #4c3acb;
$trackerteal: #1b926c;
$extrateal: #4cddbb;

// Call Overview Colors

$legendblue : #6d8ee9;
$legendpurple: #7d4ae4;
$legendyellow: #f3af48;
$legendblack: #22262b;
$legendred: #e44a69;
$legendgreen: #62bb91;
$callerteal: #158fad;
$receiverpink: #ff3366;
$pinborder: #525e64;
// graph colours
$sunshade: #ff994e;
$silvertree: #62bb91;
$lightslateblue: #8b4eff;
$moonyellow: #F1C40F;
$trace: #04bd34
